.app-header {
    height: 60px;
    line-height: normal;
    border-bottom: thick #BFCBCE solid;
    margin-left: 7rem;
    margin-right: 2rem;
    padding: 1rem 0rem;
}

.app-header .app-header--title {
    font-size: 36px;
}